@charset "utf-8";
/* CSS Document */

.fantasyfont{
  font-weight: bolder;
  font-family:  Papyrus;
}

.introbar{
	margin-top:20px;	
}

.footer{
	margin-top:50px;
}

.downward{
	padding-bottom:20px;
}



	