<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Simple Gallery</title>
    </head>

    <body>
        <h1>Simple Gallery</h1>

        {% if images %}
          <ul>
            {% for img in images %}
            <img src="{{ img.qiniu_url }}" height = "100px" width = "50px" alt="">
            {% endfor %}
          </ul>

        {% else %}
            <strong>no img</strong>
        {% endif %}
        <a href="/gallery/about/">About</a><br />
        <img src="{% static "images/1.jpg" %}" alt="Error">
    </body>

</html>
