<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gallery</title>

<!-- Bootstrap -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="http://www.xuyiwenzhuzhuzhu.cn">Home</a></div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="defaultNavbar1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'addimg' %}">Upload Images<span class="sr-only">(current)</span></a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Date Index<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% for i in info %}
              <li><a href="{% url 'viewimg' i.0 i.1 %}">{{ i.0 }} {{ i.1 }}</a></li>
            {% endfor %}

            <li class="divider"></li>
            <li><a href="{% url 'index' %}">Gallery</a></li>

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Simple Gallery</h1>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">Click outside the blue container to select this <strong>row</strong>. Columns are always contained within a row. <strong>Rows are indicated by a dashed grey line and rounded corners</strong>. </div>
  </div>
  <hr>
  <div class="row">
    <div class="text-justify col-sm-4"> Click here to select this<strong> column.</strong> Always place your content within a column. Columns are indicated by a dashed blue line. </div>
    <div class="col-sm-4 text-justify"> You can <strong>resize a column</strong> using the handle on the right. Drag it to increase or reduce the number of columns.</div>
    <div class="col-sm-4 text-justify"> You can <strong>offset a column</strong> using the handle on the left. Drag it to increase or reduce the offset. </div>
  </div>
  <hr>
  <!-- {% if images %}
    <ul>
      {% for i in images %}
          {% for j in i %}
              <p>{{ j.year }},{{ j.month }}</p>

          {% endfor %}


      {% endfor %}
    </ul>

  {% else %}
      <strong>no img</strong>
  {% endif %} -->
  <div class="list-group">
    <a href="#" class="list-group-item active">
      All the images
    </a>
    {% for i in info %}
          <a href="{% url 'viewimg' i.0 i.1 %}" class="list-group-item"><span class="badge">{{ i.2 }}</span>year {{ i.0 }} , month {{ i.1 }}</a>
          <!-- url  -->
    {% endfor %}
</div>
  </div>
<hr>
  <div class="row">
    <div class="text-center col-md-6 col-md-offset-3">
      <h4>Gallery </h4>
      <p>Copyright &copy; 2017 &middot; All Rights Reserved &middot; <a href="http://xuyiwenzhuzhuzhu.com/" >My Website</a></p>
    </div>
  </div>
  <hr>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.js"></script>
</body>
</html>
